# Fome Zero Foods - Visão Culinaria

Neste notebook vamos explorar o dataset de restaurantes da Fome Zero Foods, respondendo a perguntas de negócios sobre o contexto da visão culinaria do dataset.

## 1. Importando bibliotecas e criando Dataframe

### 1.1 Importando bibliotecas

In [2]:
import pandas as pd
from pathlib import Path

### 1.2 Criando Dataframe

In [3]:
# caminho do arquivo
path = Path.cwd().parent / 'data' / 'processed' / 'dataset_processed.csv'

try:
    with open(path, 'r', encoding='utf-8') as arquivo:
        df = pd.read_csv(arquivo)
except FileNotFoundError:
    print(f"Arquivo não encontrado: {path}")

In [4]:
df.head(3)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes,country_name,price_type,color_name
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,...,0,0,4,4.7,3F7E00,Excellent,469,Philippines,gourmet,darkgreen

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7512 entries, 0 to 7511
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   restaurant_id         7512 non-null   int64
 1   restaurant_name       7512 non-null   object
 2   country_code          7512 non-null   int64
 3   city                  7512 non-null   object
 4   address               7512 non-null   object
 5   locality              7512 non-null   object
 6   locality_verbose      7512 non-null   object
 7   longitude             7512 non-null   float64
 8   latitude              7512 non-null   float64
 9   cuisines              7512 non-null   object
 10  average_cost_for_two  7512 non-null   int64
 11  currency              7512 non-null   object
 12  has_table_booking     7512 non-null   int64
 13  has_online_delivery   7512 non-null   int64
 14  is_delivering_now     7512 non-null   int64
 15  price_range           7512 non-null   int64
 16  aggregate_rating      7512 non-null   float64
 17  rating_color          7512 non-null   object
 18  rating_text           7512 non-null   object
 19  votes                 7512 non-null   int64
 20  country_name          7512 non-null   object
 21  price_type            7512 non-null   object
 22  color_name            7512 non-null   object
dtypes: float64(3), int64(8), object(12)
memory usage: 1.3+ MB

In [6]:
# Retorna uma lista ordenada alfabeticamente
cuisines_lista = sorted(df['cuisines'].unique())

print(cuisines_lista)

['Afghan', 'African', 'American', 'Andhra', 'Arabian', 'Argentine', 'Armenian', 'Asian', 'Asian Fusion', 'Assamese', 'Australian', 'Author', 'Awadhi', 'BBQ', 'Bakery', 'Balti', 'Bar Food', 'Belgian', 'Bengali', 'Beverages', 'Biryani', 'Brazilian', 'Breakfast', 'British', 'Burger', 'Burmese', 'Cafe', 'Cafe Food', 'Cajun', 'California', 'Canadian', 'Cantonese', 'Caribbean', 'Charcoal Chicken', 'Chettinad', 'Chinese', 'Coffee', 'Coffee and Tea', 'Contemporary', 'Continental', 'Creole', 'Crepes', 'Cuban', 'Deli', 'Desserts', 'Dim Sum', 'Dimsum', 'Diner', 'Donuts', 'Drinks Only', 'Durban', 'Döner', 'Eastern European', 'Egyptian', 'European', 'Fast Food', 'Filipino', 'Finger Food', 'Fish and Chips', 'French', 'Fresh Fish', 'Fusion', 'German', 'Giblets', 'Goan', 'Gourmet Fast Food', 'Greek', 'Grill', 'Gujarati', 'Hawaiian', 'Healthy Food', 'Home-made', 'Hyderabadi', 'Ice Cream', 'Indian', 'Indonesian', 'International', 'Iranian', 'Irish', 'Italian', 'Izgara', 'Japanese', 'Juices', 'Kebab', 'Kerala', 'Khaleeji', 'Kiwi', 'Kokoreç', 'Korean', 'Korean BBQ', 'Kumpir', 'Latin American', 'Lebanese', 'Lucknowi', 'Maharashtrian', 'Malaysian', 'Malwani', 'Mandi', 'Mangalorean', 'Mediterranean', 'Mexican', 'Middle Eastern', 'Mineira', 'Mithai', 'Modern Australian', 'Modern Indian', 'Momos', 'Mongolian', 'Moroccan', 'Mughlai', 'Naga', 'Nepalese', 'New American', 'New Mexican', 'North Eastern', 'North Indian', 'Old Turkish Bars', 'Others', 'Ottoman', 'Pacific Northwest', 'Pakistani', 'Pan Asian', 'Parsi', 'Patisserie', 'Peruvian', 'Pizza', 'Polish', 'Portuguese', 'Pub Food', 'Rajasthani', 'Ramen', 'Restaurant Cafe', 'Roast Chicken', 'Rolls', 'Russian', 'Salad', 'Sandwich', 'Scottish', 'Seafood', 'Singaporean', 'South African', 'South Indian', 'Southern', 'Southwestern', 'Spanish', 'Sri Lankan', 'Steak', 'Street Food', 'Sunda', 'Sushi', 'Taco', 'Taiwanese', 'Tapas', 'Tea', 'Tex-Mex', 'Thai', 'Tibetan', 'Turkish', 'Turkish Pizza', 'Ukrainian', 'Vegetarian', 'Vietnamese', 'Western', 'World Cuisine', 'Yum Cha']

## 2. Perguntas de Negócio

### 2.1 Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [7]:
restaurante = (
    df.loc[df['cuisines']=='Italian', ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[False, True])
    .reset_index()
)

print(f"Restaurante de culinária italiana com maior média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária italiana com maior média de avaliação: Cafe Del Sol Classico

### 2.2 Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [8]:
# Filtro para selecionar somente o tipo de culinária italiana e notas válidas
filtro = (df['cuisines']=='Italian') & (df['aggregate_rating']>2)
restaurante = (
    df.loc[filtro, ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[True, True])
    .reset_index()
)

print(f"Restaurante de culinária italiana com menor média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária italiana com menor média de avaliação: Siena's

### 2.3 Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [9]:
restaurante = (
    df.loc[df['cuisines']=='American', ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[False, True])
    .reset_index()
)

print(f"Restaurante de culinária americana com maior média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária americana com maior média de avaliação: OEB Breakfast Co.

### 2.4 Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [10]:
# Filtro para selecionar somente o tipo de culinária americana e notas válidas
filtro = (df['cuisines']=='American') & (df['aggregate_rating']>2)
restaurante = (
    df.loc[filtro, ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[True, True])
    .reset_index()
)

print(f"Restaurante de culinária americana com menor média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária americana com menor média de avaliação: Guy Fieri's Kitchen & Bar

### 2.5 Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [11]:
restaurante = (
    df.loc[df['cuisines']=='Arabian', ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[False, True])
    .reset_index()
)

print(f"Restaurante de culinária árabe com maior média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária árabe com maior média de avaliação: Mandi@36

### 2.6 Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [12]:
# Filtro para selecionar somente o tipo de culinária árabe e notas válidas
filtro = (df['cuisines']=='Arabian') & (df['aggregate_rating']>2)
restaurante = (
    df.loc[filtro, ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[True, True])
    .reset_index()
)

print(f"Restaurante de culinária árabe com menor média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária árabe com menor média de avaliação: Empório Árabe

### 2.7 Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [13]:
restaurante = (
    df.loc[df['cuisines']=='Japanese', ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[False, True])
    .reset_index()
)

print(f"Restaurante de culinária japonesa com maior média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária japonesa com maior média de avaliação: Sushi Samba

### 2.8 Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [14]:
# Filtro para selecionar somente o tipo de culinária japonesa e notas válidas
filtro = (df['cuisines']=='Japanese') & (df['aggregate_rating']>2)
restaurante = (
    df.loc[filtro, ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[True, True])
    .reset_index()
)

print(f"Restaurante de culinária japonesa com menor média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária japonesa com menor média de avaliação: Orienthai

### 2.9 Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [15]:
restaurante = (
    df.loc[df['cuisines']=='Home-made', ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[False, True])
    .reset_index()
)

print(f"Restaurante de culinária caseira com maior média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária caseira com maior média de avaliação: Kanaat Lokantası

### 2.10 Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [16]:
# Filtro para selecionar somente o tipo de culinária caseira e notas válidas
filtro = (df['cuisines']=='Home-made') & (df['aggregate_rating']>2)
restaurante = (
    df.loc[filtro, ['restaurant_name', 'aggregate_rating', 'restaurant_id']]
    .groupby('restaurant_name')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[True, True])
    .reset_index()
)

print(f"Restaurante de culinária caseira com menor média de avaliação: {restaurante.iloc[0,0]}")

Restaurante de culinária caseira com menor média de avaliação: GurMekan Restaurant

### 2.11 Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [17]:
resultado = df.groupby('cuisines')['average_cost_for_two'].mean().sort_values(ascending=False).reset_index()

print(f"Tipo de culinária com maior valor médio de um prato para duas pessoas: {resultado.iloc[0,0]}")

Tipo de culinária com maior valor médio de um prato para duas pessoas: Western

### 2.12 Qual o tipo de culinária que possui a maior nota média?

In [28]:
resultado = (
    df.loc[:, ['cuisines', 'aggregate_rating', 'restaurant_id']]
    .groupby('cuisines')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[False, True])
    .reset_index()
)

resultado

        cuisines  mean_rating  rest_id_min
0         Others     4.900000     16634578
1          Ramen     4.800000      6113973
2        Ottoman     4.800000      6003596
3       Egyptian     4.800000     18657283
4     Fresh Fish     4.750000      6002297
..           ...          ...          ...
160          Tea     2.460000      2200778
161      Bengali     2.133333     16500326
162       Afghan     2.050000      2301090
163  Drinks Only     0.000000     16547518
164      Mineira     0.000000     18516213

[165 rows x 3 columns]

In [27]:

resultado = (
    df.loc[:, ['cuisines', 'aggregate_rating', 'restaurant_id']]
    .groupby('cuisines')
    .agg(mean_rating=('aggregate_rating', 'mean'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['mean_rating', 'rest_id_min'], ascending=[True, True])
    .reset_index()
).head(10)

resultado

      cuisines  mean_rating  rest_id_min
0  Drinks Only     0.000000     16547518
1      Mineira     0.000000     18516213
2       Afghan     2.050000      2301090
3      Bengali     2.133333     16500326
4          Tea     2.460000      2200778
5      Tibetan     2.600000        67280
6       Durban     2.900000      7800218
7    Cantonese     3.400000      7700462
8     Armenian     3.400000     18699247
9    Brazilian     3.470000       210370

### 2.13 Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [19]:
filtro = (df['has_online_delivery']==1) & (df['is_delivering_now']==1)

resultado = (
    df.loc[filtro, ['cuisines', 'restaurant_name', 'restaurant_id']]
    .groupby('cuisines')
    .agg(rest_name_count=('restaurant_name', 'count'), rest_id_min=('restaurant_id', 'min'))
    .sort_values(by=['rest_name_count', 'rest_id_min'], ascending=[False, True])
    .reset_index()
)

print(f"Culinária que mais possuem restaurantes que aceitam pedidos online e fazem entregas: {resultado.iloc[0,0]}")

Culinária que mais possuem restaurantes que aceitam pedidos online e fazem entregas: North Indian