# Fome Zero Foods - Visão Geral

Neste notebook vamos explorar o dataset de restaurantes da Fome Zero Foods, respondendo a perguntas de negócios sobre o contexto da visão geral do dataset.

## 1. Importando bibliotecas e criando Dataframe

### 1.1 Importando bibliotecas

In [1]:
import pandas as pd

from pathlib import Path

### 1.2 Criando Dataframe

In [2]:
# caminho do arquivo
path = Path.cwd().parent / 'data' / 'processed' / 'dataset_processed.csv'

try:
    with open(path, 'r', encoding='utf-8') as arquivo:
        df = pd.read_csv(arquivo)
except FileNotFoundError:
    print(f"Arquivo não encontrado: {path}")

In [3]:
df.head(3)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes,country_name,price_type,color_name
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,...,0,0,4,4.7,3F7E00,Excellent,469,Philippines,gourmet,darkgreen

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7512 entries, 0 to 7511
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   restaurant_id         7512 non-null   int64
 1   restaurant_name       7512 non-null   object
 2   country_code          7512 non-null   int64
 3   city                  7512 non-null   object
 4   address               7512 non-null   object
 5   locality              7512 non-null   object
 6   locality_verbose      7512 non-null   object
 7   longitude             7512 non-null   float64
 8   latitude              7512 non-null   float64
 9   cuisines              7512 non-null   object
 10  average_cost_for_two  7512 non-null   int64
 11  currency              7512 non-null   object
 12  has_table_booking     7512 non-null   int64
 13  has_online_delivery   7512 non-null   int64
 14  is_delivering_now     7512 non-null   int64
 15  price_range           7512 non-null   int64
 16  aggregate_rating      7512 non-null   float64
 17  rating_color          7512 non-null   object
 18  rating_text           7512 non-null   object
 19  votes                 7512 non-null   int64
 20  country_name          7512 non-null   object
 21  price_type            7512 non-null   object
 22  color_name            7512 non-null   object
dtypes: float64(3), int64(8), object(12)
memory usage: 1.3+ MB

## 2. Perguntas de negócios

### 2.1 Quantos restaurantes únicos estão registrados?

In [5]:
# Calculando a quantidade de restaurantes únicos
rest_unicos = df['restaurant_id'].nunique()

print(f"Quantidade de restaurantes unicos: {rest_unicos}")

Quantidade de restaurantes unicos: 6929

### 2.2 Quantos países únicos estão registrados?

In [6]:
# Calculando a quantidade de países únicos
paises_unicos = df['country_name'].nunique()

print(f" Quantidade de países únicos: {paises_unicos}")

 Quantidade de países únicos: 15

### 2.3 Quantas cidades únicas estão registradas?

In [7]:
# Calculando a quantidade de cidades únicas
cidades_unicas = df['city'].nunique()

print(f"Quantidade de cidades únicas: {cidades_unicas}")

Quantidade de cidades únicas: 125

### 2.4 Qual o total de avaliações feitas?

In [8]:
# Calculando a quantidade total de avaliações
total = df['rating_text'].count()

print(f"Total de avaliações: {total}")

Total de avaliações: 7512

In [18]:
# Calculando a quantidade total de avaliações
total = df['votes'].sum()

print(f"Total de avaliações: {total}")

Total de avaliações: 4638535

In [10]:
df.shape

(7512, 23)

### 2.5 Qual o total de tipos de culinária registrados?

In [9]:
total = df['cuisines'].nunique()

print(f"Total de tipos de culinárias: {total}")

Total de tipos de culinárias: 165